body {
  padding: 10px;
  font-family: sans-serif;
}
.conatiner{
  padding: unset;
}

.mcontainer{
  width: 30%;
  margin: auto;
  height: 90vh;
  border: 1px solid #222222;
  padding: 20px;
}

@media screen and (max-width:1024px){
  .mcontainer{
    width:100% !important;
  }
}
.note-wrapper {
    height: 100%;
    overflow-y: scroll;
  }
.note-wrapper::-webkit-scrollbar{
  display: none;
}
#header{
  margin-bottom: 51px;
}
.task-completed {
  text-decoration: line-through;
}
